<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bootstrap.Wpf" version="0.0.9" targetFramework="net46" />
  <package id="CommonWin32" version="2.1.0.3" targetFramework="net46" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net46" />
  <package id="Microsoft.Office.Interop.Word" version="15.0.4797.1003" targetFramework="net46" />
  <package id="ModernUI.WPF" version="1.0.9" targetFramework="net46" />
  <package id="ModernWPF" version="1.4.6" targetFramework="net46" />
  <package id="ModernWpfUI" version="0.9.3" targetFramework="net46" />
  <package id="mui" version="1.0.1" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net45" />
  <package id="NLog" version="4.7.5" targetFramework="net45" />
  <package id="System.Runtime.WindowsRuntime" version="4.6.0" targetFramework="net46" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net46" />
  <package id="Wpf.Themes" version="1.1.0" targetFramework="net46" />
</packages>